[Unit]
Description=webos - "%n"
Requires=ls-hubd.service
Wants=connman.service
After=ls-hubd.service connman.service

[Service]
Type=simple
OOMScoreAdjust=-500
EnvironmentFile=-/var/systemd/system/env/webos-connman-adapter.env
ExecStart=/usr/sbin/webos-connman-adapter
Restart=on-failure

[Install]
WantedBy=multi-user.target
